.container {
    width: 25%;
    height: auto;
    border: 1px solid rgb(142, 198, 234);
    border-radius: 4px;
    background-color: azure;
    padding: 3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(22, 88, 129);
    margin: 0 auto;

}
input {
    width: 5rem;
    height: 1rem;
    outline: none;
}
label{
    font-size: larger;
    font-weight: 600;
}

p{
    padding-top: 2rem;
    font-size: 1.5rem;
}

ul{
    border: 1px solid rgb(142, 198, 234);
    background-color: rgb(244, 255, 255);
    padding: 2rem;
    border-radius: 4px;
}

.button {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 1rem;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button:hover,
.button:focus {
  background-color: #07c;
}

.button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button:active {
  background-color: #0064bd;
  box-shadow: none;
}
li {
    font-size: 0.8rem;;
}